etc/presentation/presentation.aux
etc/presentation/presentation.fdb_latexmk
etc/presentation/presentation.fls
etc/presentation/presentation.log
etc/presentation/presentation.nav
etc/presentation/presentation.out
etc/presentation/presentation.snm
etc/presentation/presentation.synctex.gz
etc/presentation/presentation.toc
etc/presentation/presentation.vrb
