.vscode
.idea
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.lof
*.lot
*.bcf
*.bbl
*.blg
*.run.xml
etc/paper/paper.pdf
etc/presentation/presentation.pdf
*/**/__latexindent_temp.tex